{% extends "base_dosen.html" %}

{% block content %}
<h1>Sign Up Dosen</h1>
<form action="/api/dosen/new" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="number" name="nip" placeholder="nip">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="phone" placeholder="phone">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="register">
</form>
{% endblock %}